.vscode
.ipynb_checkpoints
.DS_Store
__pycache__
ml/handson-ml2/images/**/*.png
ml/handson-ml2/images/**/*.dot
ml/handson-ml2/my_*
ml/handson-ml2/*.ckpt
ml/handson-ml2/checkpoint

goorm.manifest
ps/py/.idea/*